<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habitat Zone Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Habitat Zone Details</h1>

    <!-- Информация о зоне обитания -->
    <div th:if="${zone}">
        <p><strong>ID:</strong> <span th:text="${zone.id}"></span></p>
        <p><strong>Name:</strong> <span th:text="${zone.name}"></span></p>
        <p><strong>Description:</strong> <span th:text="${zone.description}"></span></p>

        <!-- Кнопка для удаления зоны -->
        <form th:action="@{/zones/delete/{id}(id=${zone.id})}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="delete-button">Delete Zone</button>
        </form>

        <!-- Кнопка для обновления зоны -->
        <form th:action="@{/zones/update/{id}(id=${zone.id})}" method="get">
            <button type="submit">Update Zone</button>
        </form>
    </div>

    <!-- Если зона не найдена -->
    <div th:if="${zone == null}">
        <p>Zone not found!</p>
    </div>

    <!-- Кнопка для создания новой зоны -->
    <form th:action="@{/zones/create}" method="get">
        <button type="submit">Create New Zone</button>
    </form>

    <div class="main-page-link">
        <form th:action="@{/}" method="get">
            <button type="submit">Main page</button>
        </form>
    </div>
</div>
</body>
</html>
