<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <form th:action="@{/employee}" method="post" th:object="${employee}">
        <label for="name">Name:
            <input id="name" type="text" name="name" th:value="*{name}">
        </label>
        <label for="birthdate">BirthDate:
            <input id="birthdate" type="date" name="birthdate" th:value="*{birthdate}">
        </label>
        <label for="phoneNumber">Phone Number:
            <input id="phoneNumber" type="text" name="phoneNumber" th:value="*{phoneNumber}">
        </label>
        <h3>Employee Type</h3>
        <div th:each="employeeType : ${employeeTypes}">
            <input th:id="${employeeType}" type="radio" name="employeeType" th:value="${employeeType}">
            <label th:for="${employeeType}" th:text="${employeeType}">Employee type</label>
        </div>
        <h3>Marital Status</h3>
        <div th:each="maritalStatus : ${maritalStatuses}">
            <input th:id="${maritalStatus}" type="radio" name="maritalStatus" th:value="${maritalStatus}">
            <label th:for="${maritalStatus}" th:text="${maritalStatus}">Marital Status</label>
        </div>
        <h3>Select Spouse (Optional)</h3>
        <label for="spouse">Spouse:
            <select id="spouse" name="spouseId">
                <option value="" disabled selected>Select Spouse</option>
                <option th:each="spouse : ${employeesWithoutSpouses}"
                        th:value="${spouse.id}"
                        th:text="${spouse.name}">Spouse
                </option>
            </select>
        </label>

        <!-- Кнопка отправки формы -->
        <button type="submit">Create</button>
    </form>

    <div class="main-page-link">
        <form th:action="@{/}" method="get">
            <button type="submit">Main page</button>
        </form>
    </div>

    <!-- Пагинация теперь здесь -->
    <div>
        <span th:if="${page.hasPrevious()}">
            <a th:href="@{/employee/create(page=${page.number - 1})}">Previous</a>
        </span>
        <span th:each="i : ${#numbers.sequence(1, page.totalPages)}">
            <a th:href="@{/employee/create(page=${i - 1})}" th:text="${i}">Page</a>
        </span>
        <span th:if="${page.hasNext()}">
            <a th:href="@{/employee/create(page=${page.number + 1})}">Next</a>
        </span>
    </div>
</div>
</body>
</html>
