<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Feeding Ration</title>
</head>
<body>

<h1>Create New Feeding Ration</h1>

<form th:action="@{/feeding-ration}" method="post" th:object="${feedingRation}">
    <!-- Поле для имени рациона кормления -->
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="*{feedRationName}" required>
    </label><br>

    <!-- Выпадающий список для выбора типа корма -->
    <label for="feedType">Feed Type:
        <select id="feedType" name="feedTypeId" required>
            <option th:each="feedType : ${feedTypes}"
                    th:value="${feedType.id}"
                    th:text="${feedType.name}">Feed Type</option>
        </select>
    </label><br>

    <button type="submit">Create Feeding Ration</button>
</form>

</body>
</html>
