<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Feeding Ration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Create New Feeding Ration</h1>

    <form th:action="@{/feeding-ration}" method="post" th:object="${feedingRation}">
        <!-- Поле для имени рациона кормления -->
        <label for="feedRationName">Name:
            <input id="feedRationName" type="text" name="feedRationName" th:value="*{feedRationName}" required>
        </label>

        <!-- Выпадающий список для выбора типа корма -->
        <label for="feedType">Feed Type:
            <select id="feedType" name="feedTypeId" required>
                <option value="" disabled selected>Select Feed Type</option>
                <option th:each="feedType : ${feedTypes}"
                        th:value="${feedType.id}"
                        th:text="${feedType.name}">Feed Type
                </option>
            </select>
        </label>

        <!-- Кнопка для отправки формы -->
        <button type="submit">Create Feeding Ration</button>
    </form>

    <!-- Ссылка на главную страницу -->
    <div class="main-page-link">
        <form th:action="@{/}" method="get">
            <button type="submit">Main Page</button>
        </form>
    </div>
</div>
</body>
</html>
