<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feed Type List</title>
</head>
<body>

<!-- Таблица с типами рационов -->
<h1>Available feed types</h1>
<ol>
    <li th:each="employee : ${employees}">
        <a th:href="@{'/employee/' + ${employee.id}}" th:text="|${employee.name} - ${employee.employeeType}|">Employee</a>
    </li>
</ol>

<!-- Кнопка для добавления нового типа рациона -->
<a href="/feed-type/create">Create New Feed Type</a>
</body>
</html>