<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Available Pets</h1>
    <ul class="pet-list">
        <li th:each="pet : ${pets}" class="pet-item">
            <a th:href="@{'/pet/' + ${pet.id}(petType=${pet.petType})}" th:text="${pet.name}" class="pet-link">Pet</a>
            <div class="pet-details">
                <p><strong>Type:</strong> <span th:text="${pet.petType}"></span></p>
                <p><strong>Birthdate:</strong> <span th:text="${pet.birthdate}"></span></p>
                <p><strong>Sex:</strong> <span th:text="${pet.sex}"></span></p>
                <p><strong>Feeding Ration Name:</strong> <span th:text="${pet.feedingRationName}"></span></p>
            </div>
        </li>
    </ul>

    <!-- Кнопка для добавления нового питомца -->
    <div class="actions">
        <a href="/pet/create" class="btn">Create New Pet</a>
    </div>

    <!-- Кнопка для перехода на главную страницу -->
    <form th:action="@{/}" method="get" class="main-page-form">
        <button type="submit" class="btn">Main Page</button>
    </form>
</div>
</body>
</html>
