<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feeding Rations List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Available Feeding Rations</h1>

    <!-- Таблица с типами рационов -->
    <ol>
        <li th:each="feedingRation : ${feedingRations}">
            <a th:href="@{'/feeding-ration/' + ${feedingRation.feedRationId}}" th:text="|${feedingRation.feedRationName}|">Feed ration</a>
        </li>
    </ol>

    <!-- Кнопка для добавления нового типа рациона -->
    <div class="main-page-link">
        <a th:href="@{/feeding-ration/create}" class="create-button">Create New Feeding Ration</a>
    </div>

    <!-- Кнопка для возврата на главную страницу -->
    <form th:action="@{/}" method="get">
        <button type="submit">Main Page</button>
    </form>
</div>
</body>
</html>
