body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Контейнер формы */
.container {
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок формы */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

/* Стили для меток и полей ввода */
label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Заголовки секций формы */
h3 {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

/* Кнопка отправки формы */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Сообщение об ошибке */
.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.main-page-link {
    text-align: center;
    margin-top: 20px;
}

.main-page-link button {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-page-link button:hover {
    background-color: #0056b3;
}

.update-link {
    display: inline-block;
    width: 90%; /* или конкретная ширина */
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
}

.update-link:hover {
    background-color: #0056b3;
}

